{% trans_default_domain 'FOSUserBundle' %}

<div class="contact-3 content-area-6">
    <div class="container">
        <div class="main-title mb-60">
            <h1>Changer de mot de passe</h1>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-sm-offset-2 col-xs-12">
                <!-- Contact form start -->
                <div class="contact-form">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'id': 'contact_form' } }) }}
                        <div class="row">
                            {% if not form.vars.valid %}
                                {% for children in form.children %}
                                    {% if not children.vars.valid %}
                                        <div class="alert alert-danger">
                                            {% if children.first is defined %}
                                                {{ form_errors(children.first) }}
                                            {% else %}
                                                {{ form_errors(children) }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group enter-password">
                                    <label class="required">Mot de passe actuel</label>
                                    {{ form_widget(form.current_password, {'attr': {'class': 'input-text'}}) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group enter-password">
                                    <label class="required">{{ 'form.new_password'|trans }}</label>
                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input-text'}}) }}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group enter-password">
                                    <label class="required">{{ 'form.new_password_confirmation'|trans }}</label>
                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input-text'}}) }}
                                </div>
                            </div>
                            <div class="send-btn mb-0  text-center">
                                <button type="submit" class="btn-md btn-theme">{{ 'change_password.submit'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
                <!-- Contact form end -->
            </div>
        </div>
    </div>
</div>
