{% extends 'admin/base.html.twig' %}
{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'newsletter' } %}
{% endblock %}

{% block main %}
<h3 class="page-title text-info"><span class="lnr lnr-envelope"></span> Newsletter</h3>
<div class="row">
    <div class="col-md-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Utilisateurs abonnés au newsletter<span class="float-right"><a href="{{ path('admin_newsletter_compose') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Nouveau message</a></span></h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table project-table table-bordered">
                        {% if users|length > 0 %}
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Adresse e-mail</th>
                                    <th>Date d'inscription</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% endif %}
                            {% for u in users %}
                                <tr class="purchase p-{{ u.id}}">
                                    <td>{{ u.id }}</td>
                                    <td>{{ u.email }}</td>
                                    <td>{{ u.createdAt|localizeddate('full', 'none', app.request.locale)|capitalize ~ ' à ' ~ u.createdAt|date('H:i') }}</td>
                                </tr>
                            {% else %}
                                <p class="text-center my-6">Aucun utilisateur trouvé.</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if users %}
        <div class="panel-footer">
            <a href="{{ path('admin_newsletter_compose') }}" class="btn btn-primary">
                <i class="fa fa-plus-circle"></i>
                Nouveau message
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
