{% extends 'admin/base.html.twig' %}
{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'pendings' } %}
{% endblock %}

{% block main %}
<h3 class="page-title text-info"><span class="fa fa-bullhorn"></span> Annonces en attentes <span class="badge badge-info mb-1">{{ count }}</span></h3></h3>
<div class="row">
    <div class="col-md-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des annonces en attentes</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titre de l'annonce</th>
                                <th>Type</th>
                                <th>Date d'ajout</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><a title="Afficher les details" href="{{ path('admin_job_show', {job: job.id}) }}">{{ job.title }}</a>
                                    </td>
                                    <td><span class="label label-success">Offre d'emploi</label></td>
                                    <td>{{ job.createdAt|time_diff }}</td>
                                    <td class="px-0 text-center">
                                        <div class="btn-group">
                                            <a class="mx-2 edit-item" href="{{ path('admin_job_show', {job: job.id}) }}" data-toggle="tooltip" data-placement="top" title="Afficher les détails.">
                                                <i class="lnr fa-lg lnr-eye"></i>
                                            </a>
                                            <a class="mx-2 delete-item" data-placement="top" data-target="#confirmDeleteModal" data-item-type="jobs" data-item-name="{{ job.title }}" data-item-id="{{ job.id }}" data-toggle="modal" style="cursor:pointer;" title="Supprimer cette offre">
                                                <i class="lnr lnr-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for offer in offers %}
                                <tr>
                                    <td>{{ loop.index + jobs|length }}</td>
                                    <td><a title="Afficher les details" href="{{ path('admin_offer_show', {offer: offer.id}) }}">{{ offer.title }}</a>
                                    </td>
                                    <td><span class="label label-primary">Appel d'offre</label></td>
                                    <td>{{ offer.createdAt|time_diff }}</td>
                                    <td class="px-0 text-center">
                                        <div class="btn-group">
                                            <a class="mx-2 edit-item" href="{{ path('admin_offer_show', {offer: offer.id}) }}" data-toggle="tooltip" data-placement="top" title="Afficher les détails.">
                                                <i class="lnr lnr-eye fa-lg"></i>
                                            </a>
                                            <a class="mx-2 delete-item" data-placement="top" data-target="#confirmDeleteModal" data-item-type="offers" data-item-name="{{ offer.title }}" data-item-id="{{ offer.id }}" data-toggle="modal" style="cursor:pointer;" title="Supprimer cette offre">
                                                <i class="lnr lnr-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for info in infos %}
                                <tr>
                                    <td>{{ loop.index + jobs|length + offers|length }}</td>
                                    <td><a title="Afficher les details" href="{{ path('admin_info_show', {info: info.id}) }}">{{ info.title }}</a>
                                    </td>
                                    <td><span class="label label-info">Avis & Info</label></td>
                                    <td>{{ info.createdAt|time_diff }}</td>
                                    <td class="px-0 text-center">
                                        <div class="btn-group">
                                            <a class="mx-2 edit-item" href="{{ path('admin_info_show', {info: info.id}) }}" data-toggle="tooltip" data-placement="top" title="Afficher les détails.">
                                                <i class="lnr lnr-eye fa-lg"></i>
                                            </a>
                                            <a class="mx-2 delete-item" data-placement="top" data-target="#confirmDeleteModal" data-item-type="infos" data-item-name="{{ info.title }}" data-item-id="{{ info.id }}" data-toggle="modal" style="cursor:pointer;" title="Supprimer cette offre">
                                                <i class="lnr lnr-trash text-danger"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="text-danger">Voulez-vous vraiment supprimer <strong class="item-name"></strong> de la base de données ?</p>
                                        <p class="alert alert-danger"><span class="fa fa-warning"></span> Cette action est irréversible.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                                        <form action="" method="POST" data-confirmation="true" id="delete-form">
                                            <input type="hidden" name="ad[delete_token]" value="{{ csrf_token('job.delete_token') }}" />
                                            <button type="submit" id="btn-item-delete" class="btn btn-danger btn-lg">
                                                <span class="lnr lnr-trash"></span> Supprimer
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <!-- END TABLE STRIPED -->
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $("#confirmDeleteModal").on('show.bs.modal', function(e){
            button = $(e.relatedTarget)

            var modal = $(this);
            var adId = button.data('item-id')
            var adType = button.data('item-type')
            var adName = button.data('item-name')

            modal.find('.item-name').text(adName)
            modal.find('form').attr('action', `/admin/${adType}/delete/${adId}`)
        });
    </script>
{% endblock %}

