<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal">
        <span class="fa fa-trash" style="color:#fff" aria-hidden="true"></span>
        {{ 'action.delete'|trans }}
    </button>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body bg-danger">
                <h4 class="text-danger">{{ 'form.delete_modal.title'|trans }}</h4>
                <p>{{ 'form.delete_modal.body'|trans|raw }}</p>
            </div>
            <div class="modal-footer">
                <form action="{{ delete_path }}" method="POST" data-confirmation="true" id="delete-form">
                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />

                    <button type="button" class="btn btn-default" id="btnNo" data-dismiss="modal">
                            <span class="fa fa-ban" aria-hidden="true"></span> {{ 'label.cancel'|trans }}
                        </button>
                    <button type="submit" class="btn btn-default btn-delete">
                            <span class="fa fa-trash" aria-hidden="true"></span> {{ 'ad.delete'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
