{% extends 'emails/base.twig' %}

{% block base_url %}
<base href="{{ url('contact') }}" target="_blank">
{% endblock %}

{% block title %}{{ user.subject }}{% endblock %}

{% block header %}
<h1>{{ user.subject }}</h1>
{% endblock %}

{% block main %}
<p>{{ user.message }}</p>
{% endblock %}

{% block footer %}
<p>E-mail: {{ user.email }}</p>
{% endblock %}
