{% set request_locale = app.request.attributes.get('_locale') %}
{% set request_locale = app.request.attributes.get('_locale') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">  
       
        <link rel="stylesheet" href="{{ asset('css/fontawesome-v5.8.2.css') }}">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <title>{% block title %}Welcome to tree network!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        <header>
            <!--Navbar -->
            <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
                <a class="navbar-brand" href="{{ path('index') }}">
                    {# <img src="{{ asset('img/tree-network-2.png') }}" id="logo" alt="tree network logo"> #}
                    Tree network |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <button aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent-333" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('index') }}"><i class="fas fa-home"></i> {{ 'layout.home'|trans }}
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('browse') }}"><i class="fas fa-code-branch"></i> {{ 'layout.browse'|trans }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink-333">
                                <i class="fas fa-question-circle"></i> {{ 'layout.help'|trans }}
                            </a>
                            <div aria-labelledby="navbarDropdownMenuLink-333" class="dropdown-menu dropdown-default">
                                <a class="dropdown-item" href="{{ path('about') }}">{{ 'layout.about'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('help_faq') }}">{{ 'layout.help_faq'|trans }}</a>
                                <a class="dropdown-item" href="{{ path('contact') }}">{{ 'layout.contact_us'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto nav-flex-icons">
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink-4">
                                <i class="fas fa-language"></i>
                                {{ ('app.locale.' ~ request_locale)|trans }}
                            </a>
                            <div aria-labelledby="navbarDropdownMenuLink-4" class="dropdown-menu dropdown-menu-right dropdown-info">
                                {% for l in locales() %}
                                    {% if l.code != request_locale %}
                                    <a class="dropdown-item" href="{{ path(
                                                    app.request.get('_route', 'index'),
                                                    app.request.get('_route_params', [])|merge({_locale: l.code})) }}">
                                        {{ l.name|capitalize }}
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light">1
                                <i class="fas fa-envelope"></i>
                            </a>
                        </li>
                        <li class="nav-item avatar dropdown">
                            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink-555">
                                <img src="{{ asset('img/users/randomdev.jpg') }}" class="avatar rounded-circle z-depth-0" alt="avatar image">
                            </a>
                            <div aria-labelledby="navbarDropdownMenuLink-55" class="dropdown-menu dropdown-menu-lg-right dropdown-secondary">
                                <a class="dropdown-item" href="#"><i class="fas fa-id-card"></i> {{ 'layout.profile'|trans }}</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-code-branch"></i> {{ 'layout.family_tree'|trans }}</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-cog"></i> {{ 'layout.settings'|trans }}</a>
                                <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> {{ 'layout.logout'|trans }}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--/.Navbar -->
        </header>
        
        {% endblock %}
        <script type="text/javascript" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
