{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.twig' as breadcrumb %}

{% block title %}{{ 'tree.list.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block main %}
<div class="container">

    {{ breadcrumb.level1('tree.list.title') }}

    <!-- Card deck -->
    <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- Card deck -->

    <!-- Card deck -->
    <div class="card-deck">
        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">
            <div class="view overlay">
                <img alt="Card image cap" class="card-img-top" src="{{ asset('img/users/randomdev.jpg') }}">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Béchir Issmaila Ba</h4>
                <p class="card-text">Une petite description de la famille</p>
                <div class="bottom-text">
                    <hr>
                    <span><i class="far fa-tree"></i> 13 membres</span>
                    <p class="float-right"><i class="fas fa-layer-group"></i> 4 générations</p>
                </div>
                <button class="btn aqua-gradient btn-block" type="button">Détails</button>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- Card deck -->
</div>

{% endblock %}
