{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.twig' as breadcrumb %}

{% block stylesheets %}
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

    <div class="mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumb -->
                    <div class="breadcrumb-area pt-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-white">
                                <li class="breadcrumb-item"><a class="black-text" href="{{ path('index' ) }}">{{ 'layout.home'|trans }}</a></li>
                                <li class="breadcrumb-item active">{{ 'profile.title'|trans }}</li>
                            </ol>
                        </nav>
                        <h1 class="ml-3">Profil</h1>
                    </div>
                    <!-- Breadcrumb End -->
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a aria-controls="profile" aria-selected="false" class="nav-link active" data-toggle="tab" href="#profile" id="profile-tab" role="tab"><span class="fas fa-user"></span> Profil</a>
                        </li>
                        <li class="nav-item">
                            <a aria-controls="settings" aria-selected="true" class="nav-link" data-toggle="tab" href="#settings" id="settings-tab" role="tab"><span class="fas fa-cogs"></span> Paramètres</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div cass="row">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="profile-tab" class="tab-pane fade active show" id="profile" role="tabpanel">
                    <a class="btn btn btn-outline-info btn-rounded wow bounceIn" data-wow-delay="2s" href="{{ path('user_edit') }}"><i class="fas fa-user-edit mr-1"></i> Modifier</a>
                    <div class="text-white d-flex h-100 mask aqua-gradient-rgba rounded shadow my-5">
                        <div class="first-content align-self-center p-3">
                            <h3 class="card-title">{{ app.user.username }}</h3>
                            <p class="lead mb-0">{{ app.user.email }}</p>
                        </div>
                        <div class="second-content align-self-center ml-auto pr-3">
                            <img class="img-100 img-circle" src="{{ asset('img/users/randomdev.jpg') }}"/>
                        </div>
                    </div>

                    <div class="card shadow py-3 wow fadeInUp" data-wow-delay=".7s">
                        <div class="card-body">
                            <h5 class="card-title">Mes parents</h5>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="p-2">
                                                    Père<br>
                                                    <a class="btn-link text-info" href="#">Issmaila Ibrahim Ba</a>
                                                </div>
                                                <div class="p-2">
                                                    <img class="img-circle img-50 h-100" src="{{ asset('img/users/randomdev.jpg') }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card shadow-sm">
                                        <div class="card-body">
                                            <div class="d-flex flex-row justify-content-between">
                                                <div class="p-2">
                                                    Mère<br>
                                                    <a class="btn-link text-info" href="#">Aissata Yaya Sy</a>
                                                </div>
                                                <div class="p-2">
                                                    <img class="img-circle img-50 h-100" src="{{ asset('img/users/randomdev.jpg') }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow py-3 wow fadeInUp mt-5" data-wow-delay=".7s">
                        <div class="card-body">
                            <h5 class="card-title">À propos de moi</h5>
                            <hr>
                            <p class="card-text">Bechir Ba</p>
                            <p class="card-text">Date de naissance: 30 octobre 1997</p>
                        </div>
                    </div>

                    <div class="card shadow py-3 mt-5 wow fadeInUp" data-wow-delay=".7s">
                        <div class="card-body">
                            <h5 class="card-title">Informations sur le compte</h5>
                            <hr>
                            <p class="card-text">Date d'inscription : 12 septembre 2018</p>
                            <p class="card-text">Dernière connexion : Il y a environ 1 heure</p>
                        </div>
                    </div>

                </div>
                <div aria-labelledby="settings-tab" class="tab-pane fade" id="settings" role="tabpanel">Etsy mixtape
                    wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
                    lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                    locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
                    squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
                    etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
                    stumptown. Pitchfork sustainable tofu synth chambray yr.
                </div>
            </div>
        </div>
    </div>
    <pre>
        {{ dump(app.user) }}
    </pre>
{% endblock %}
