{% extends "base.html.twig" %}

{% block title %}
    {{ user.fullName }} - {{ 'layout.family_tree'|trans }}
{% endblock title %}


{% block main %}
    <div class="mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Breadcrumb -->
                    <div class="breadcrumb-area pt-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-white">
                                <li class="breadcrumb-item"><a class="black-text" href="{{ path('index' ) }}">{{ 'layout.home'|trans }}</a></li>
                                <li class="breadcrumb-item"><a class="black-text" href="{{ path('browse') }}">{{ 'tree.list.title'|trans }}</a></li>
                                <li class="breadcrumb-item active">{{ user.username }}</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Breadcrumb End -->
                </div>
            </div>
        </div>
    </div>

    <div cass="row">
        <div class="container padding-bottom-100">
            <!-- Table with panel -->
            <div class="card card-cascade narrower mt-5">
                <!--Card image-->
                <div class="view shadow rounded view-cascade gradient-card-header aqua-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                <div class="ml-3">
                    <button type="button" id="add-btn-link" data-toggle="modal" data-target="#addLinkModal" class="btn btn-outline-white btn-circle btn-sm px-2">
                    <i class="fas fa-plus mt-0"></i>
                    </button>
                </div>
                <div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="addLinkModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg cascading-modal" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header light-blue darken-3 white-text">
                                <h4 class="title"><i class="fas fa-user-plus"></i>Ajouter un nouveau lien</h4>
                                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <!--/.Header-->
                            <!--Body-->
                            <div class="modal-body mb-0">
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form form-sm">
                                                {{ form_widget(form.inverse.firstName, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_label(form.inverse.firstName) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form form-sm">
                                                {{ form_widget(form.inverse.lastName, {'attr': {'class': 'form-control'}}) }}
                                                {{ form_label(form.inverse.lastName) }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="md-form form-sm">
                                                {{ form_widget(form.inverse.description, {'attr': {'class': 'md-textarea w-100 mb-0'}}) }}
                                                {{ form_label(form.inverse.description) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="mb-0">Sexe</label>
                                            <div class="md-form form-group mt-0">
                                                {{ form_widget(form.inverse.gender, {'attr': {'class': 'browser custom-select px-0'}}) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="mb-0">Vous êtes {{ user.gender == 'word.male' ? 'son' : user.gender == 'word.female' ? 'san' : 'son(sa)' }}</label>
                                            <div class="md-form form-group mt-0">
                                                {{ form_widget(form.linkCategory, {'attr': {'class': 'browser custom-select px-0'}}) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center mt-1-half">
                                    <button class="btn btn-info mb-2 waves-effect waves-light">Ajouter <i class="fas fa-check-circle ml-1"></i></button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                            <!--/.Body-->
                        </div>
                        <!--/.Content-->
                    </div>
                </div>

                <a href="#" onclick="return false;" class="white-text mx-3">
                    <i class="fas fa-tree"></i> Arbre généalogique de {{ user.fullName }}</a>

                <div class="mr-3">
                    <button type="button" class="btn btn-outline-white btn-circle btn-sm px-2">
                    <i class="fas fa-pencil-alt mt-0"></i>
                    </button>
                    <button type="button" class="btn btn-outline-white btn-circle btn-sm px-2">
                    <i class="far fa-trash-alt mt-0"></i>
                    </button>
                    <button type="button" class="btn btn-outline-white btn-circle btn-sm px-2">
                    <i class="fas fa-info-circle mt-0"></i>
                    </button>
                </div>

                </div>
                <!--/Card image-->

                <div class="px-4">

                <div class="table-wrapper">
                    <!--Table-->
                    <table class="table table-hover text-justify mb-0">

                    <!--Table head-->
                    <thead>
                        <tr>
                        <th>
                            <a>Nom complet
                            <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th>
                            <a href="">Description
                            <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th>
                            <a href="">Type de lien
                            <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th>
                            <a href="">Photo
                            <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    {% for link in user.links %}
                        <tr>
                            <td>{{ link.inverse.fullName }}</td>
                            <td>{{ link.inverse.description }}</td>
                            <td>{{ link.linkCategory|trans }}</td>
                            <td><img class="img-circle img-50" src="/img/users/default-avatar-profile.jpg"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <!--Table body-->
                    </table>
                    <!--Table-->
                </div>

                </div>
            </div>
            <!-- Table with panel -->
        </div>
    </div>
{% endblock main %}